mixin roomCard(room, number, cost, review, stars)
  div(class='room-card')
    div(class='slider')
      div(class='image-container')
        img(src='./img/'+room+'.png' alt=room)
        img(src='./img/'+room+'.png' alt=room)
        img(src='./img/'+room+'.png' alt=room)
        img(src='./img/'+room+'.png' alt=room)
      div(class='slider-nav-left flex flex-X-center flex-Y-center')
        span(class='prev material-icons fs-24') keyboard_arrow_left
      div(class='slider-nav-right flex flex-X-center flex-Y-center')
        span(class='next material-icons fs-24') keyboard_arrow_right
      div(class='slider-nav-crumbs')
        span(class='crumb active')
        span(class='crumb')
        span(class='crumb')
        span(class='crumb')


    div(class='room-description')
      div(class='flex fs-12 flex-X-between')
        div(class='flex')
          span(class='bold') №
          span(class='dark100 fs-14 sand mr-5')= number
          span(class='primaryColor bold')
        div(class='flex')
          span(class='dark50 bold fs-14')= cost
            span(class='rub sand mr-5') P
          span(class='dark50') в сутки

      div(class='separate-line')

      div(class='flex fs-12 flex-Y-center flex-X-between')
        div(class='flex')
          - var rate = stars
          - var maxRate = 5
          while rate > 0
            span(class='star material-icons fs-24') star_rate
            - rate--
            - maxRate--
          while maxRate > 0
            span(class='star material-icons fs-24') star_border
            - maxRate--
        div(class='flex fs-14')
          span(class='dark50 bold')= review
          span(class='dark50') &nbsp;Отзывов